body {
  background-image: url(../img/nt2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.info {
  top: 5px;
  margin-left: 5%;
  width: 90%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

#mine-num {
  max-width: 90px;
}

.inc,
.dec {
  width: 45px;
  font-size: 48px;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: rgb(115, 209, 154);
}

.reset {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: rgb(221, 120, 26);
}

.reset:hover {
  background-color: red;
}

.map {
  border-collapse: collapse;
  width: 90%;
  margin: 140px 5% 65px 5%;
}

.map td {
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 0;
  width: 8%;
  height: 8.5vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.flag-btn {
  background-color: rgba(32, 207, 140, 0.5);
  position: fixed;
  bottom: 10px;
  width: 90%;
  height: 43px;
  margin-left: 5%;
  font-size: 20px;
  line-height: 45px;
}

.flag-btn-active {
  background-color: rgba(17, 15, 117, 0.7);
  color: red;
  font-weight: bold;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .map {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .map td {
    width: 48px;
    height: 48px;
  }
}
