body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 15px;
}

.info {
  padding: 5px;
  height: 130px;
  top: 5px;
  margin-left: 5%;
  width: 90%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

#mine-num {
  max-width: 90px;
}

.dec {
  display: inline-block;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 0px solid transparent;
  border-right: 30px solid rgb(27, 230, 162);
}

.inc {
  display: inline-block;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid rgb(27, 230, 162);
  border-right: 0px solid transparent;
}

.reset {
  min-width: 40px;
  border-radius: 2px;
  font-size: 15px;
  color: white;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: rgb(221, 120, 26);
}

.reset:hover {
  background-color: red;
}

#reset-game {
  font-size: 18px;
  width: 85px;
  height: 40px;
  background-color: rgb(226, 76, 38);
}

#record,
#ranking {
  height: 40px;
}

.hide {
  display: none;
}

.map {
  border-collapse: collapse;
  width: 90%;
  margin: 140px 5% 65px 5%;
}

.map td {
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 0;
  width: 8%;
  height: 8.5vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.flag-btn {
  background-color: rgba(32, 207, 140, 0.5);
  position: fixed;
  bottom: 10px;
  width: 90%;
  height: 43px;
  margin-left: 5%;
  font-size: 20px;
  line-height: 45px;
}

.flag-btn-active {
  background-color: rgba(17, 15, 117, 0.7);
  color: red;
  font-weight: bold;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes modal-content {
  from {
    top: -100vh;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-content {
  background-color: #eee;
  color: black;
  margin: 40px auto;
  width: 95%;
  border: 1px solid black;
  border-radius: 5px;
  animation: modal-content 0.4s;
  position: relative;
}

.modal-head {
  text-align: left;
  padding: 10px;
  margin: 5px 10px;
  font-size: 18px;
  background-color: white;
}

.list {
  margin: 5px auto;
  list-style: none;
  padding: 0;
  text-align: left;
  height: 500px;
  overflow: scroll;
}

.list li {
  padding: 10px;
  margin: 0px 10px;
  border: 1px solid #eee;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .map {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .map td {
    width: 48px;
    height: 48px;
  }
}

.back {
  display: inline-block;
  margin-bottom: -2px;
  width: 0;
  height: 0;
  border-left: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 15px solid black;
}

.label {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  color: white;
  border-radius: 4px;
}