body {
  background-image: url(../img/nt2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.level {
  border-spacing: 5px;
  position: fixed;
  margin-left: 5%;
  top: 5px;
  width: 90%;
}

.inc,
.dec {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}

.label {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu {
  border-spacing: 5px;
  position: fixed;
  margin-left: 5%;
  top: 60px;
  width: 90%;
}

.time,
.count {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
}

.reset {
  height: 35px;
  background-color: rgba(0, 0, 0, 0.7);
}

.reset:hover {
  background-color: red;
}

.map {
  border-collapse: collapse;
  width: 90%;
  margin: 110px 5% 65px 5%;
}

.map td {
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 0;
  width: 8%;
  height: 8.5vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.flag-btn {
  height: 50px;
  background-color: rgba(32, 207, 140, 0.5);
  position: fixed;
  bottom: 10px;
  width: 90%;
  height: 43px;
  margin-left: 5%;
  line-height: 47px;
}

.flag-btn-active {
  background-color: rgba(17, 15, 117, 0.7);
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .map {
    border-collapse: collapse;
    width: 500px;
    margin: 110px auto 70px auto;
  }
  .map td {
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 0;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .menu {
    border-spacing: 5px;
    position: fixed;
    top: 60px;
    margin-left: 50%;
    width: 500px;
    transform: translateX(-50%);
  }
  .level {
    border-spacing: 5px;
    position: fixed;
    margin-left: 50%;
    top: 5px;
    width: 500px;
    transform: translateX(-50%);
  }
}