.nav {
  background-color: #ffffff80;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  padding: 5px 10px;
  font-size: 16px;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 5px;
  color: black;
  font-size: 16px;
}

.nav button {
  background-color: #29b59f50;
  border-radius: 5px;
  border: 2px solid #a2faec;
  margin: 0;
  padding: 2px 5px;
  color: black;
  font-size: 15px;
}